.card {
  background: white;

  border-radius: 20px;

  overflow: hidden;

  box-shadow:
  0 6px 20px rgba(0,0,0,.08);

  transition: .25s;
}

.card:hover {
  transform:
  translateY(-3px);
}

.card img {
  width: 100%;

  height: 220px;

  object-fit: cover;
}

.body {
  padding: 18px;
}

.body strong {
  color: #18b43d;

  display: block;

  margin: 10px 0;
}

.body button {
  width: 100%;

  height: 46px;

  border: none;

  border-radius: 12px;

  background: #4285f4;

  color: white;
}