.card {
  background: white;

  padding: 26px;

  border-radius: 18px;

  min-height: 150px;

  box-shadow:
  0 4px 18px rgba(0,0,0,.05);
}

.card span {
  color: #6b7280;
}

.card h2 {
  font-size: 42px;

  margin: 16px 0;
}

.card p {
  color: #9ca3af;
}