.card {
  background: white;

  border-radius: 18px;

  padding: 28px;

  text-align: center;

  border: 2px solid;

  transition: .2s;
}

.card h2 {
  font-size: 52px;

  margin: 18px 0;
}

.card p {
  color: #64748b;

  margin-bottom: 18px;
}

.card select {
  width: 100%;

  height: 44px;

  border-radius: 10px;
}

.disponivel {
  border-color: #22c55e;

  background: #f0fff4;
}

.ocupada {
  border-color: #ef4444;

  background: #fff3f3;
}

.reservada {
  border-color: #eab308;

  background: #fffce8;
}